<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer class="pt-2 mt-auto fixed-bottom" style="bottom: 0px; background-color: #1a1a1a;">
        <p class="text-center fs-4 fw-bold" style="color: white;"> © 2025 By hamodi</p>
    </footer>
    
</body>
</html>
