<%- include('partials/header.ejs') %>

<div class="d-flex align-content-center justify-content-center">
    <div>
        <form action="/search" method="post" id="searchForm">
            <input class="input-box" type="text" name="search" id="inputBox" placeholder="Search a book"  required>
        </form>
    </div>

    <!--div used to insert front-end code into-->
    <div id="suggestions" class="suggestions-box"></div>

    <script src="/js/search.js"></script>

<%- include('partials/footer.ejs') %>