<%- include('partials/header') %>

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 200px;">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
      <h2 class="text-center mb-4 fw-bold">Login</h2>
      <a href="/auth/google" class="btn btn-lg btn-dark w-100 mb-3">
        <i class="bi bi-google me-2"></i> Sign in with Google
      </a>
  </div>

    <%- include('partials/footer') %>